/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .App {
        min-width: 300px;
    }
    .slide-1, .slide-2 {
        button {
            padding: 5px 10px !important;
            font-size: 12px !important;
        }
        h4 {
            display: none !important;
        }
     
    }
    .contact {
        .left-contact  {
            form {
                width: 100% !important;
            }
        }
    }

      .contact-part {
       .contact-i {
           .message-i {
               font-size: 140px !important;
           }
       }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .blog-box {
        .bg-img {
            max-width: 100% ;
 
        }
        .box-info {
            position: inherit ;
            bottom: 0 ;
            width: 100% ;
        }
    }
}


@media only screen and (max-width: 768px) {
    .slide-1, .slide-2 {
        h4 {
            font-size: 30px !important;
        }
        h1 {
            font-size: 45px !important;
        }
        button {
            padding: 10px 15px !important;
            font-size: 14px;
        }
    }
   .blog-box {
       .bg-img {
           max-width: 100% ;

       }
       .box-info {
           position: inherit ;
           bottom: 0 ;
           width: 100% ;
       }
   }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .slide-1, .slide-2 {
        padding-top: 30px;
    }
    .blog-box {
        .bg-img {
            max-width: 80% ;
 
        }
        .box-info {
            position: absolute ;
            bottom: 0% ;
            left: 15%;
            width:  70% ;
        }
    }
}


@media only screen and (max-width: 992px){
    .slide-1, .slide-2 {
        padding-top: 60px;
    }
   .exclusive {
       .exc-bg  {
           height: 100vh !important;
       }
       h1 {
           margin: 30px 0 0 0  !important;
       }
   }
    .contact {
        .left-contact {
            form{
                width: 85% !important;
            }
        }
    }

    .deliveryPage {
        .marq-txt {
            font-size: 45px !important;
        }
    }
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}